<div class="top-menu">
    <img src="/images/bydgoszcz.png">
    <img src="/images/ukraina.png">
    <div>
        <%- svg.facebook %>
        <%- svg.menu %>
    </div>
</div>
<div class="bottom-menu">
    <%- svg.home %>
    <%- svg.plan %>
    <%- svg.vulcan %>
</div>