<div class="top-menu">
    <img src="/images/bydgoszcz.png">
    <img src="/images/ukraina.png">
    <div>
        <%- svg.facebook %>
        <button onclick="toggle_menu(this)" class="menu-button">
            <div><%- svg.menu %></div>
        </button>
    </div>
</div>
<div class="bottom-menu">
    <%- svg.home %>
    <%- svg.plan %>
    <%- svg.vulcan %>
</div>
<nav id="nav_menu" class="nav-closed">
    <%- svg.exit %>
    <details>
        <summary>Szkoła</summary>
        <ul>
            <li><a href="#link1">Dyrekcja szkoły</a></li>
            <li><a href="#link2">Organizacja roku szkolnego</a></li>
            <li><a href="#link3">Dokumenty szkoły</a></li>
            <li><a href="#link3">Standardy ochrony małoletnich</a></li>
            <li><a href="#link3">Dyżury nauczycieli</a></li>
            <li><a href="#link3">Zamówienia publiczne</a></li>
            <li><a href="#link3">Pedagog i psycholog</a></li>
            <li><a href="#link3">Doradca zawodowy</a></li>
            <li><a href="#link3">Informacje dla emerytów</a></li>
            <li><a href="#link3">Rada rodziców</a></li>
            <li><a href="#link3">75 Bydgoska Drużyna</a></li>
        </ul>
    </details>
    <a href="#link1">Uczeń</a>
</nav>
